* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: #080808;
    color: #fff;
    width: 100%;
    overflow-x: hidden;
    -webkit-font-feature-smotthing: antialiased;
    position: relative;
}

/* ------Nav-------- */
#container {
    padding: 10px 10%;
}

#nav-menu {
    width: 100%;
    padding: 10px 10%;
    min-height: 9vh;
    background-color: #080808;
    position: fixed;
    top: 0;
    z-index: 1000;
}

#nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}

.logo {
    width: 140px;
}

#nav_list {
    display: flex;
}

#nav_list1 {
    display: none;
}

/* #nav-menu ul {
    display: flex;
} */
#nav-menu ul li {
    list-style: none;
    margin: 10px 20px;
}

#nav-menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

.resume_button {
    background-color: #ff004f;
    padding: 5px 16px;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 5px;
    border: none;
}

.resume_button a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.resume_button:hover {
    box-shadow: rgb(255, 255, 255) 0px 3px 6px;
}

.download {
    height: 18px;
    margin-top: 2px;
    fill: white;
}

#nav-menu ul li a::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

#nav-menu ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 20%;
    font-size: 18px;
}

.header-text p {
    margin-top: 5px;
}

.header-text h1 {
    font-size: 40px;
    margin-top: 15px;
}

.header-text h1 span {
    color: #ff004f;
}

.hamburger {
    display: none;
    position: absolute;
    right: 5%;
    top: 28px;
    cursor: pointer;
}

.hmline {
    width: 33px;
    height: 3px;
    background-color: white;
    margin: 5px 3px;
    border-radius: 4px;
}

.hamburger_After {
    display: none;
}

@media only screen and (max-width:1140px) {
    #nav-menu {
        height: 11vh;
        flex-direction: column;
        border-bottom: 1px solid #fff;
    }

    #nav-menu ul {
        flex-direction: column;
        transition: all 0.3s ease-in-out;
    }
    .logo {
        position: absolute;
        width: 110px;
        top: 15px;
        left: 5%;
        padding: 2px;
    }

    .hamburger {
        display: block;
    }

    #nav_list {
        display: none;
    }

    /* ---------Ham--After----- */
    .hamburger_After {
        display: block;
        position: fixed;
        top: 65px;
        right: 0;
        z-index: 1000;
        height: 100vh;
        width: 0;
        background: rgba(8, 8, 8, 0.5);
        border-radius: 5px;
        opacity: 2;
        text-align: center;
        transition: all 0.3s ease-in-out;
    }

    .HmafterClick {
        width: 45%;
        transition: all 0.3s ease-in-out;

    }

    .hamburger_After ul li {
        color: #fff;
        list-style: none;
        margin: block;
        padding: 15px 30px;

    }

    .hamburger_After ul li {
        list-style: none;
        margin: 10px 20px;
    }

    .hamburger_After ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        position: relative;
    }

    .hamburger_After ul li a::after {
        content: '';
        width: 0%;
        height: 3px;
        background: #ff004f;
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: 0.5s;
    }

    .hamburger_After ul li a:hover::after {
        width: 100%;
    }
}

/* ------------About---------- */
#Home {
    display: flex;
    justify-content: space-between;
}

#Profile_image {
    width: 55%;
    height: 40%;
    padding-left: 70px;
    margin-top: 20px;
    padding-top: 40px;
}

#Profile_image img {
    width: 75%;
    object-fit: scale-down;
    border-radius: 60px;
}

/* -----------------About---------------- */
#about {
    
    padding: 10px 10%;
    width: 100%;
    height: 40vh;
    margin-top: 40px;
    background: #080808;
}

.about_heading,
.skills_heading {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_heading div h3,
.skills_heading div h3 {
    font-size: 26px;
    display: block;
}

.blankLine {
    width: 500px;
    height: 1px;
    background-color: #ff004f;
    margin: 5px;
}

#about div:nth-child(2) p {
    margin: 20px 10px;
    padding: 10px 60px;
    text-align: center;
    line-height: 0.9cm;
}

.quote {
    height: 18px;
    margin: 5px;
    fill: #ff004f;
}

.contact_icons {
    height: 16px;
    fill: #fff;
    margin: 20px 8px 0 0;
}

#about div:nth-child(3) ul {
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}

#about div:nth-child(3) ul li {
    flex-direction: inline block;
    list-style: none;
    margin: 2px 8px;

}

@media only screen and (max-width:1140px) {
    #Home {
        margin: auto;
        width: 95%;
        text-align: center;
        align-items: center;
        flex-direction: column;
    }

    #about {
        /* padding-top: 10%; */
        /* margin-top: 110px; */
    }

    #about div:nth-child(3) ul {
        flex-direction: column;
    }

    #Profile_image {
        width: 85%;
        margin-right: 65px;
    }
    
}

/* ---------------------------skills------------------------ */

#skills {
    align-items: center;
    min-height: 100vh;
    padding: 10px 10%;
    margin-top: 300px;
}
#tech_satcks {
    display: flex;
    justify-content:space-evenly;
    margin: auto;
    margin-left: 30vh 20vh;
}
#tech_satcks div{
    width: 300px;
    margin: 30px;
    padding: 25px;
}
#tech_satcks ul {
    position: relative;
    transform: skewY(-15deg);
}
#tech_satcks ul li img {
    width: 40%;
    object-fit: scale-down;
}
#tech_satcks ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    list-style: none;
    width: 120px;
    height: 12vh;
    background: #3e3f46;
    padding: 15px;
    transition: 0.5s;
    z-index: calc(1 * var(--i));
}
#tech_satcks ul li:hover {
    transform: translateX(-50px); 
    background: var(--clr);
}
#tech_satcks ul li::before {
    content: '';
    position: absolute;
    top: 0;
    left: -40px;
    width: 40px;
    height: 100%;
    background: #3e3f46;
    filter: brightness(0.7);
    transform-origin: right;
    transform: skewY(45deg);
    transition: 0.5s;
    
}
#tech_satcks ul li:hover::before {
    background: var(--clr);
    filter: brightness(0.7 );
}
#tech_satcks ul li::after {
    content: '';
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    height: 40px;
    background: #3e3f46;
    filter: brightness(0.9);
    transform-origin: bottom;
    transform: skewX(45deg);
}
#tech_satcks ul li:hover::after {
    background: var(--clr );
    filter: brightness(0.9);
}
#tech_satcks ul li:nth-child(1)::after {
    text-align: center;
}
#tech_satcks ul li:last-child::after {
    box-shadow: -120px 120px 20px rgba(180, 169, 169, 0.25);
}
#tech_satcks ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
#tech_satcks ul li span {
    position: absolute;
    top: 0;
    left: -40px;
    width: 40px;
    height: 100%;
    filter: brightness(0.7);
    transform-origin: right;
    transform: skewY(45deg);
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    font-size: 1.25em;
    transition: 0.5s;
}
#tech_satcks ul li span img {
    height: 40px;
    width: 70px;
    object-fit: scale-down;
}
#tech_satcks ul li:hover span {
    opacity: 1;
}


@media only screen and (max-width:1140px) {
    #skills {
        margin-top: 100vh;
        margin-bottom: 14vh;
    }
    #tech_satcks {
        display: flex;
        margin: auto;
        width: 60%;
        flex-direction: column;
    }
    #tech_satcks div {
        padding: 18px 34px;
        
    }
    #tech_satcks ul {
        flex-direction: column;
    }
}