#nav-menu {
    width: 100%;
    padding: 10px 10%;
    min-height: 9vh;
    background-color: #080808;
    position: fixed;
    top: 0;
    z-index: 10000;
}

#nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 140px;
}

.nav_list_ul {
    display: flex;
    flex-shrink: initial;
}

#nav-menu ul li {
    list-style: none;
    margin: 10px 20px;
}

#nav-menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

.resume_button {
    display: block;
    background-color: #ff004f;
    padding: 5px 16px;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 5px;
    border: none;
}

.resume_button a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.resume_button:hover {
    box-shadow: rgb(255, 255, 255) 0px 3px 6px;
}

.download {
    height: 18px;
    margin-top: 2px;
    fill: white;
}

#nav-menu ul li a::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

#nav-menu ul li a:hover::after {
    width: 100%;
}

.hamburger {
    position: absolute;
    right: 5%;
    top: 28px;
    cursor: pointer;
    opacity: 0;
}
.cross {
    position: absolute;
    right: 6%;
    top: 28px;
    cursor: pointer;
    opacity: 0;
}

.hmline {
    width: 33px;
    height: 3px;
    background-color: white;
    margin: 5px 3px;
    border-radius: 4px;
}

@media only screen and (max-width:1140px) {
    #nav-menu {
        height: 10vh;
    }
    .logo {
        position: absolute;
        width: 110px;
        top: 14px;
        left: 5%;
        padding: 2px;
    }
    .hamburger {
        opacity: 5;
    }
    .hamburger_visisibility {
        opacity: 0;
    }
    .nav_list_ul {
        flex-direction: column;
        position: absolute;
        top: 67px;
        right: 0;
        z-index: 1000;
        height: 110vh;
        background: rgba(8, 8, 8, 0.5);
        width: 0;
        border-radius: 5px;
        opacity: 2;
        text-align: center;
        transition: all 0.5s ease-in-out;
    }
    .nav_visibility {
        width: 45%;
    }
    .cross_visibility {
        opacity: 5;
    }
    .nav_list_ul li {
        padding: 12px 5%;
    }
    
}
@media only screen and (max-width:479px) {
    #nav-menu {
        height: 10vh;
    }
    .logo {
        top: 12px;
    }
    .nav_visibility {
        width: 55%;
    }
}
