#nav-menu {
    width: 100%;
    padding: 10px 10%;
    min-height: 9vh;
    background-color: #080808;
    position: fixed;
    top: 0;
    z-index: 10000;
}

#nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 140px;
}

#nav_list {
    display: flex;
}

#nav_list1 {
    display: none;
}

#nav-menu ul li {
    list-style: none;
    margin: 10px 20px;
}

#nav-menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

.resume_button {
    background-color: #ff004f;
    padding: 5px 16px;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 5px;
    border: none;
}

.resume_button a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.resume_button:hover {
    box-shadow: rgb(255, 255, 255) 0px 3px 6px;
}

.download {
    height: 18px;
    margin-top: 2px;
    fill: white;
}

#nav-menu ul li a::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

#nav-menu ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 20%;
    font-size: 18px;
}

.header-text p {
    margin-top: 5px;
}

.header-text h1 {
    font-size: 40px;
    margin-top: 15px;
}

.header-text h1 span {
    color: #ff004f;
}

.hamburger {
    display: none;
    position: absolute;
    right: 5%;
    top: 28px;
    cursor: pointer;
}

.hmline {
    width: 33px;
    height: 3px;
    background-color: white;
    margin: 5px 3px;
    border-radius: 4px;
}

.hamburger_After {
    /* display: none; */
    opacity: 0;
}

@media only screen and (max-width:1140px) {
    #nav-menu {
        height: 10vh;
        flex-direction: column;
    }

    #nav-menu ul {
        flex-direction: column;
        transition: all 0.3s ease-in-out;
    }
    .logo {
        position: absolute;
        width: 110px;
        top: 14px;
        left: 5%;
        padding: 2px;
    }

    .hamburger {
        display: block;
    }

    #nav_list {
        /* display: none; */
        opacity: 0;
    }

    /* ---------Ham--After----- */
    .hamburger_After {
        display: block;
        position: fixed;
        top: 80px;
        right: 0;
        z-index: 1000;
        height: 100vh;
        width: 0;
        background: rgba(8, 8, 8, 0.5);
        border-radius: 5px;
        opacity: 2;
        text-align: center;
        transition: all 0.3s ease-in-out;
    }

    .HmafterClick {
        width: 45%;
        transition: all 0.3s ease-in-out;

    }

    .hamburger_After ul li {
        color: #fff;
        list-style: none;
        margin: block;
        padding: 15px 30px;

    }

    .hamburger_After ul li {
        list-style: none;
        margin: 10px 20px;
    }

    .hamburger_After ul li a {
        color: #fff;
        text-decoration: none;
        font-size: 18px;
        position: relative;
    }

    .hamburger_After ul li a::after {
        content: '';
        width: 0%;
        height: 3px;
        background: #ff004f;
        position: absolute;
        left: 0;
        bottom: -6px;
        transition: 0.5s;
    }

    .hamburger_After ul li a:hover::after {
        width: 100%;
    }
}
@media only screen and (max-width:479px) {
    #nav-menu {
        height: 10vh;
    }
    .logo {
        top: 12px;
    }
    .hamburger_After {
        top: 70px;
    }
    .HmafterClick {
        width: 55%;
    }
}
